/* https://miro.medium.com/max/1280/1*THFUfPfstX075wRBDSfi0Q.jpeg */

$cool-grey-dm-bg: #1e2025;

$cool-grey-gold: #EDC299;
$cool-grey-gold-muted: #4F4649;

$cool-grey-aqua: #33C6B9;
$cool-grey-aqua-muted: #1F4A48;

$cool-grey-dark: #202933;
$cool-grey-med: #343c45;
$cool-grey-light: #434c54;
