.navbar {
  &--center {
    @include center
  }

  &--horizontal {
    display: flex;
    flex-flow: row nowrap;
  }

  &__input-search { 
    display: flex;
    flex-flow: row nowrap;   
  }

  &__links {
    list-style: none;
  }

  &__link {
    color: $white;
    padding-top: 9.95px;;

    &--active {
      @apply bg-blue-500;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__input-search {
    width: 300px;
    max-width: 300px;
  }
}