.navbar {
  margin-top: 1em;
  border-radius: 25px;
  @include neumorphic;
  
  &--center {
    @include center
  }

  &--links {
    width: 450px;
  }
  
  &--horizontal {
    display: flex;
    flex-flow: row nowrap;
  }
  
  &__input-search { 
    display: flex;
    flex-flow: row nowrap;
    
  }
  
  &__link {
    color: $white;
    padding-top: 9.95px;;

    &--active {
      @include neumorphic-button--active

    }

    &:hover {
      cursor: pointer;
      // color: 
    }
  }

  &__input-search {
    width: 300px;
    max-width: 300px;
  }
}