.navbar {
  border-bottom: solid 2px $nav-outline;
  margin-top: 2%;
   
  &--center {
    display: flex;
    justify-content: space-evenly;

  }

  &--horizontal {
    display: flex;
    flex-flow: row nowrap;
  }

  &__input-search {
    display: flex;
    flex-flow: row nowrap
  }

  &__link {
    color: $white;
  }

  &__input-search {
    width: 300px;
    max-width: 300px;
  }
}