.inputWrapper {
  display: inline-block;
}

.input {
  /* background: #fff; */
  /* border-bottom: 1px solid #ebebeb; */
  cursor: text;
  padding: 10px 9px 9px;
  display: block;
  width: 100%;
  resize: none;
  color: inherit;
  text-align: left;
  box-sizing: border-box;
  /* border-radius: 3px; */
}


.newForm {
  background: #252525;
  /* border-bottom: solid 1px white; */
  padding: 1vw 2vw;
  margin: 2vw;
  width: 90%;
}