$colorList:
// "darkGreen" #009624
// "green" #00c652
"lightGreen" #5efa81
;

.bankAccountMenu {
    
    &__account {
        justify-content: space-evenly;
        margin-bottom:1vw;
        // @each $i in $colorList {
        //     solid 3px $i
        // }
    }

    &__accountInfo {
        flex-direction: column;
        width: 50%;
    }

    &__balanceInfo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}