.btn {
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-weight: bold;
  border-radius: 18px;
  padding: 1% 0 1% 0;

  &__icon {
    @apply flex items-center;
    border: solid 1px red;
    height: 100px;
  }

  &__icon--element {
    display: table-cell
  }
}
.btn:focus{
  outline: 0
}
.btn:hover,
.btn__icon:hover {
  background: #141414;
  color: #bbb;
}
.active {
  @include neumorphic-button--active
}

.graph-control {
  padding: 12px 24px;
}
