.input {
  background: transparent;
  cursor: text;
  display: block;
  width: 100%;
  text-align: left;
	box-sizing: border-box;
	border: solid 1px $dm_muted;
	caret-color: white;
	border-radius: 0.4em;

  &--txt {
    padding: 0.6em 1.0em;
    width: 90%;
  }

  &--num {
		padding: 0.6em 1em;
		width: 5em;
    text-align: center;
  }
}

.input:focus {
	transition: 500ms;
	border: solid 1px $dm_green;
	outline: $dm_green;
}