.input {
  background: transparent;
  cursor: text;
  display: block;
  width: 100%;
  resize: none;
  color: inherit;
  text-align: left;
  box-sizing: border-box;
  caret-color: white;
  min-width: 100%;

  &--txt {
    padding: 1vw 2vw;
    margin: 2vw;
    width: 90%;
  }

  &--num {
    width: 5em;
    padding: 2vw;
    text-align: center;
  }

}