.requirements {
  /* border: solid 1px black; */
  position: absolute;
  z-index: 100;
  top: 0;
  left: auto;
}
.requirements:hover {
  cursor: pointer;
  transition: 1s;
  opacity: 0;
  background: lightcyan;
}

.accounts {
  display: flex;
}