.card {
	background: $dm_card_bg;

	&__graph {

		width: 18em;
		
		&--title {
			background: $dm_card_head;
			display: block;
			justify-content: center;

		}

		&--graph {
			
		}
		&--body {
			padding:  0.5em;
		}
	}
}
