.card {
	background: $dm_card_bg;

	&__graph {
		@apply flex flex-col;
		width: 18em;
		
		&--title {
			background: $dm_card_head;
			display: block;
			
		}

		&--graph {

		}
		&--body {
			
		}
	}
}