@import '../themes/dm-theme.scss';
@import './mixins/font-mixins.scss';

::placeholder {
  
  font-size: 1rem;
  color: lightgrey;
}

h1, 
h2,
h3 {
	font-family: 'Poppins', sans-serif;
	color: $dm_header;
}

h4,
h5,
h6,
th {
	font-family: 'Mukta', sans-serif;
	font-weight: 700;
	color: $dm_sub-header;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p,
li,
input,
input::-webkit-input-placeholder,
td,
a,
li,
text {
  font-size: 1.125rem;
  font-family: 'Mukta', sans-serif;
  color: $dm_body;
}

button,
label,
.label--txt {
	font-family: 'Mukta', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: $dm_body;
}

label,
.label--txt {
	font-size: 1.25rem;
}

.text {
  color: $dm_body;

  &--center {
    font-size: 0.75em;
    text-align: center;
  }
  &__small {
    font-size: 0.75em;
    
    &--italic {
      font-size: 0.75em;
      @include italics;
    }
  }

  &--bold {
    color: $dm_body;
    font-weight: 400;
  }
}
