
// $dm_bg: #101213;
$dm_bg: #17171A;
$dm_card_bg: #101213;

/* Neuomorphic card shadows */

$dm_light_shadow: #1F2624; 
$dm_dark_shadow: #0F0F12; 


$dm_input_bg: #000051;
$dm_nav_bg: #162320;
$dm_header_bg_color: white;

// Font Colors
$dm_attn:#f7f7f7;
$dm_p: #ffffff !important;
$dm_muted: #333339;

