$dm_bg: #17171A;
$dm_card_bg: #101213;

/* Button Colors */ 
$dm__btn--outline: #57d9a3;

/* Typography */
$dm_header: #F0F4F8;
$dm_sub-header: #E1E1E1;
$dm_p: #FFFFFF;


/* Neuomorphic card shadows */
$dm_light_shadow: #1F2624; 
$dm_dark_shadow: #0F0F12; 


$dm_input_bg: #000051;
$dm_nav_bg: #162320;
$dm_header_bg_color: white;

$dm_attn:#f7f7f7;

$dm_muted: #333339;
