.menuWrapper {
    padding: 1vw 2vw;
}

.navbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 60vh;
    
    &__link {
        padding-bottom: 1vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        
        .icon {
            color: #808588;
            margin-bottom: 1vh;

            &--active {
                color: white !important;
                margin-bottom: 1vh;
            }
        }
    }
    &__link:hover {
        cursor: pointer;
    }
}

.logo {
    color: green;
}


.hidden {
    display: none;
}

.active {
    color: white !important;
}